<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/static/js/jquery.min.js"></script>
    <script>
        $(function () {
            $("[type=button]").click(function () {
                var username = $('#username').val();
                var password = $('#password').val();
                $.ajax({
                    'url': '/login_check',
                    'dataType': 'json',
                    'type': 'post',
                    'data': {
                        'username': username,
                        'password': password,
                    }
                }).success(function (data) {
                    if (data.res === 0) {
                        alert('error');
                        location.href = '/login';
                    } else {
                        // 跳转到首页
                        location.href = '/index';  // index页面也需要定义
                    }
                })
            })
        })
    </script>
    <title>ajax login</title>
</head>

<body>
    用户名:<input type="text" name="username" id='username'></br>
    密码:<input type="password" name="password" id='password'></br>
    <input type="button" value="登录">
</body>

</html>