<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>html转义</title>
</head>
<body>
    通过safe过滤器关闭html转义： <br/>
    {{ content |safe}} <br/>

    通过autoescape模板标签关闭html转义： <br/>
    {% autoescape off %}
        {{ content }}
    {% endautoescape %} <br/>

    模板硬编码默认不转义： <br/>
    {{test|default:'<h1>模板硬编码</h1>'}} <br/>

    手动转义：<br/>
    {{test|default:'&lt;h1&gt;模板硬编码&lt;/h1&gt;'}}<br/>
</body>
</html>