<!DOCTYPE html>
<html lang="en">
{% load filter %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>模板过滤器</title>
</head>
<body>
    <ul>
    {% for book in books %}
        <li>{{ book.btitle}}--{{ book.bpub_date | date:'Y年-m月-d日' }}</li>
    {% endfor %}
    </ul>
    用default过滤器设置默认值: {{ book.ss | default:'默认值'}}<br/>
    <br/>
    自定义过滤器(单参数): <br/>
    {% for book in books %}
        {% if book.id|mod %}
            <li>{{ book.btitle}}--{{ book.bpub_date | date:'Y年-m月-d日' }}</li>
        {% endif %}
    {% endfor %}
    <br/>
    自定义过滤器(两个参数): <br/>
    {% for book in books %}
        {% if book.id|mod_val:3 %}
            <li>{{ book.btitle}}--{{ book.bpub_date | date:'Y年-m月-d日' }}</li>
        {% endif %}
    {% endfor %}
</body>
</html>