{% extends 'static_base.html' %}
{% load staticfiles %}
{% block title %}天天生鲜-首页{% endblock title %}
{% block topfiles %}
	<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/slide.js' %}"></script>
{% endblock topfiles %}
{% block body %}

	<div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">全部商品分类</h1>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="center_con clearfix">
		<ul class="subnav fl">
			{# 获取分类的信息 (如：猪牛羊肉、新鲜水果等) #}
            {% for type in types %}
				<li><a href="#model0{{forloop.counter}}" class="{{type.logo}}">{{ type.name }}</a></li>
			{% endfor %}			
		</ul>
		<div class="slide fl">
			<ul class="slide_pics">
				{# 获取轮播商品的信息 #}
                {% for banner in goods_banners %}
					<li><a href="#"><img src="{{ banner.image.url }}" alt="{{banner.sku.name}}"></a></li>
				{% endfor %}
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
			{# 获取促销商品的信息 #}
            {% for banner in promotion_banners %}
				<a href="{{ banner.url }}"><img src="{{ banner.image.url }}" alt="{{ banner.name }}"></a>
            {% endfor %}
		</div>
	</div>

	{# 按分类展示商品信息，包括文字和图片 #}
    {% for type in types %}
	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model0{{ forloop.counter }}">{{ type.name }}</h3>
			<div class="subtitle fl">
				<span>|</span>
				{# 某个分类的商品的文字信息 #}
				{% for banner in types.banners_title %}	
					<a href="#">{{ banner.sku.name }}</a>
				{% endfor %}
			</div>
			<a href="#" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			{# 某个种类商品的图片 #}
			<div class="goods_banner fl"><img src="{{ type.image.url }}"></div>
			<ul class="goods_list fl">
				{# 某个分类的商品的图片信息 #}
                {% for banner in types.banners_image %}
				<li>
					<h4><a href="#">{{ banner.sku.name }}</a></h4>
					<a href="#"><img src="{{ banner.sku.image.url }}"></a>
					<div class="prize">¥ {{ banner.sku.price }}</div>
				</li>
                {% endfor %}
                
			</ul>
		</div>
	</div>
	{% endfor %}
    
{% endblock body %}
